[submodule "vendor/libiconv/current"]
	path = vendor/libiconv/current
	url = https://github.com/winlibs/libiconv.git
[submodule "vendor/libjpeg-turbo/current"]
	path = vendor/libjpeg-turbo/current
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "vendor/cocos2d-x/current"]
	path = vendor/cocos2d-x/current
	url = https://github.com/cocos2d/cocos2d-x.git
	branch = v3
[submodule "vendor/libgdiplus"]
	path = vendor/libgdiplus
	url = https://github.com/mono/libgdiplus.git
[submodule "vendor/lz4"]
	path = vendor/lz4
	url = https://github.com/mono/libgdiplus.git
[submodule "vendor/opus/current"]
	path = vendor/opus/current
	url = https://github.com/xiph/opus.git
[submodule "vendor/opus/opusfile"]
	path = vendor/opus/opusfile
	url = https://github.com/xiph/opusfile.git
[submodule "vendor/opencv/current"]
	path = vendor/opencv/current
	url = https://github.com/opencv/opencv.git
[submodule "libs/android/libarchive"]
	path = libs/android/libarchive
	url = https://github.com/libarchive/libarchive.git
[submodule "vendor/agg/current"]
	path = vendor/agg/current
	url = https://github.com/tomhughes/agg.git
[submodule "vendor/expat/current"]
	path = vendor/expat/current
	url = https://github.com/libexpat/libexpat.git
[submodule "vendor/onig/current"]
	path = vendor/onig/current
	url = https://github.com/kkos/oniguruma.git
[submodule "vendor/google_breakpad/current"]
	path = vendor/google_breakpad/current
	url = https://chromium.googlesource.com/breakpad/breakpad
